{% extends 'base.html' %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}commentbin/css/about.css" />
{% endblock css %}

{% block content %}

<div id='thankyou'>
<h1> Thank You </h1>
<ul>
<li><a href='http://pygments.org'><img src='http://pygments.org/media/logo.png' alt='Pygments'/></a></li>
<li><a href='http://code.google.com/p/rangy/'>Rangy</a></li>
<li><a href='http://codemirror.net'><img src='http://codemirror.net/doc/baboon.png' alt='CodeMirror'/></a></li>
<li><a href='https://www.djangoproject.com/'><img src="{{ STATIC_URL }}commentbin/images/django.png" alt="Django"></a></li>
<li><a href='http://jquery.com'><img src="{{ STATIC_URL}}commentbin/images/jquery-logo.jpg" alt="jQuery: Write Less, Do More."></a></li>
<li><a href='http://blog.twg.ca/2010/11/retina-display-icon-set/'>Retina Icon Set </a></li>
<li><a href='http://twitter.github.com/bootstrap/index.html'><h3>Bootstrap</h3></a></li>
<li><a href='http://www.pythonanywhere.com'><img src='https://www.pythonanywhere.com/static/anywhere/images/logo-234x35.png' alt='PythonAnywhere'/></a></li>
</ul>
</div>

<h1> About <span class='logo-review gray'>Review</span><span class='logo-it gray'>It!</span></h1>

Review<i>It</i> is a 'pastebin'-like site which allows pasting snippets of (currently only) python code.
Users may attach inline comments to posted snippets. The site also offers three privacy modes for 
posted snippets:
<ul>
<li> Public &mdash; anyone can view and post comments,</li>
<li> Semi-public &mdash; anyone can view, only people knowing the password may comment and 
<li> Private &mdash; only people knowing the password may comment.</li>
</ul>
<h1> Features </h1>
<ul>
<li> Syntaxt hilighting </li>
<li> Inline comments </li>
<li> No need for signup/login </li>
<h2> Planned </h2>
<li> LaTeX rendering </li>
<li> PDF export </li>
</ul>
<h1> License </h1>
For the licenses of third-party included code, see the respective projects. All other code, unless otherwise stated,
is under the <a href='www.gnu.org/licenses/agpl-3.0.html'>GNU Affero General Public License (AGPLv3)</a>.

{% endblock content %}
