<!DOCTYPE html>
<html lang="en">
<head>

    {% block css %}
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:700|Henny+Penny&amp;text=ReviewIt!' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ STATIC_URL }}bootstrap-v2/css/bootstrap.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}commentbin/css/base.css" />
    {% endblock %}
    
    {% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}commentbin/javascript/forms.js"></script>
    <script src="{{ STATIC_URL }}bootstrap-v2/js/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}commentbin/javascript/collapse.js"></script>
    {% endblock %}
    
    <title>{% block title %}Commentbin{% endblock %}</title>
    

<script>
    {% block globalVars %}
    
    var static_url = {{ STATIC_URL }};
    
    formElements.push( { id:'header_nick',
                         related:'nick_related' } );
    
    {% endblock globalVars %}
function onReady() {
    {% block onReady %}
    {% endblock onReady %}
    $('.alert').addClass('fade')
    $('.alert').addClass('in')
    $('.alert').alert();
}
jQuery(document).ready(onReady);
</script>

</head>

<body>
<div id="header" class='navbar navbar-fixed-top'>
{% block header %}
<div class='header-control'>
    Hello,
{% if user.is_authenticated %}
    <b>{{ user.username }}! </b> <a href='{% url commentbin.views.logout %}'>Sign Out</a>
{% else %}
    <form class='header_nick'><input id='header_nick' class='header_nick nick_related' type='textinput' size="{{ nick|length }}" onClick='textInputClick(this);' onBlur='textInputLeave(this);' value='{{ nick|default:"anonymous" }}'/></form> 
       <!--<a href='{% url commentbin.views.login %}'>Login/Signup</a>-->
{% endif %}
<span id='header-links'>| <a href='{% url commentbin.views.about %}'> About </a>|<a href='{% url commentbin.views.sitehelp %}'> Help </a>|</span>
</div>
<h1><a href='{% url commentbin.views.index %}'><span class='logo-review'>Review</span><span class='logo-it'>It!</span></a></h1>

{% endblock header %}

</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>