{% extends 'base.html' %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}commentbin/css/snippet-password.css" />
{% endblock css %}

{% block content %}

<div id='password_form' class='modal show password_form'>
<div class="modal-header">
    <h3>Password needed to view this snippet</h3>
</div>
  <div class="modal-body">
<form script='' method='GET'>
{% if wrong_password %}
 <div class='alert alert-error'> Invalid password, try again <a class='close' data-dismiss='alert' href='#'>×</a></div>
{% endif %}
<center>
<h4>Password<h4/>
<input type='textinput' class='passinput' value='Enter password here...' onClick='textInputClick(this);' name='access_token' />
</center>
  </div>
  <div class='modal-footer'>
    <input type='submit' value='Continue' class="btn">
  </div>
</form>
</div> <!-- password_form -->
{% endblock content %}
