{% extends "base.html" %}


{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}commentbin/css/pygments.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}commentbin/css/comments.css" />
{% endblock css %}

{% block javascript %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}javascript/jquery.hotkeys.js"></script>
    <script src="{{ STATIC_URL }}commentbin/javascript/bootstrap-twipsy.js"></script>
    <script src="{{ STATIC_URL }}commentbin/javascript/bootstrap-modal.js"></script>
    <script src="{{ STATIC_URL }}commentbin/javascript/rangy-1.3alpha/rangy-core.js"></script>
    <script src="{{ STATIC_URL }}commentbin/javascript/rangy-1.3alpha/rangy-cssclassapplier.js"></script>
    <script src="{{ STATIC_URL }}commentbin/javascript/rangy-1.3alpha/rangy-textrange.js"></script>


    
    <script src="{{ STATIC_URL }}commentbin/javascript/comment.js"></script>
{% endblock javascript %}

{% block globalVars %}
  {% autoescape off %}

  {{ block.super }}

  initialServerComments = {{ comments }};  
  lastRetrieved = "{{ timestamp }}";
  
  {% endautoescape %}
{% endblock globalVars %}

{% block onReady %}

  {{ block.super }}
  
  commentInit();
  
{% endblock onReady %}





{% block title %} Snippet {{ snippet.title }} ({{ snippet.id }}) {% endblock %}

{% block content %}
<h1 class='snippet_title'>{{ snippet.title|default:"Snippet" }} (#{{ snippet.id }})</h1>
<div class='comment_controls'>
{% if show_comment_interface %}
<a href='javascript:showCommentForm();'><img class='icon' src='{{ STATIC_URL }}commentbin/images/comment.png' alt='Add a comment'/></a>
{% endif %}
{% if show_delete_link %}
<a href='javascript:deleteSnippet();'/><img class='icon' src='{{ STATIC_URL }}commentbin/images/delete.png' alt='Delete Snippet'/></a>
{% endif %}
</div>
Created by <b>{{ snippet.user.username|default:snippet.nick }}</b> on {{ snippet.creation_date }}.
<div id='error'>
</div>

<div class='content'>

<div class='code'>
{% autoescape off %}
{{ snippet.formatted_html }}
{% endautoescape %}
</div> <!-- code -->

<div class='maincomment'>
{% if main_comment %}
<div class='author'>
<a href='mailto:{{ main_comment.email }}'>{{ main_comment.user_email }} </a>
</div>
{{ main_comment.text }}
{% endif %}
</div> <!-- maincomment -->

</div> <!-- content -->


{% if show_comment_interface %}
<script>
formElements.push( { id:'nick_field',
                     related:'nick_related' } );
</script>

<div id='add_comment_form' class='modal hide'>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
{% if user.is_authenticated %}
    <div style='float:right;margin:5px;'> <b>{{ user.username }} </b></div>
{% else %}
    <div style='float:right;margin:5px;'><input id='nick_field' class='nick_related' onClick='textInputClick(this);' onBlur='textInputLeave(this);' type='textinput' value='{{ nick|default:"anonymous" }}'/></div>
{% endif %}    
    <h3>Add a comment</h3>
</div>
  <div class="modal-body">
<form>
<textarea id='comment_field' style='width:500px;height:200px' name='comment'></textarea>
</form>
  </div>
  <div class='modal-footer'>
    <!--<a href="#" class="btn" data-dismiss="modal">Close</a>-->
    <a href="javascript:saveComment();" class="btn btn-primary">Comment</a>
  </div>
</div>

<div id='edit_comment_form' class='modal hide'>
<div class="modal-header">
{% if user.is_authenticated %}
    <div style='float:right;margin:5px;'> <b>{{ user.username }} </b></div>
{% else %}
    <div style='float:right;margin:5px;'><b id='comment_edit_nick'>{{ nick|default:"anonymous" }}</b></div>
{% endif %}
    <h3>Add a comment</h3>
</div>
  <div class="modal-body">
<form>
<textarea id='comment_edit_field' style='width:500px;height:200px;' name='comment'></textarea>
<input type='hidden' value='-1' id='commentid_edit_field' />
</form>
  </div>
  <div class='modal-footer'>
    <!--<a href="#" class="btn" data-dismiss="modal">Close</a>-->
    <a href="javascript:deleteComment();" class="btn">Delete Comment</a>
    <a href="javascript:editComment();" class="btn btn-primary">Save</a>
  </div>
</div> <!-- edit_comment_form -->
{% endif %}
{% endblock content %}