h1 {
  color:gray;
  font-size:20pt;
}

h2 {
  color:gray;
  font-size:12pt;
}


#content {
  margin:80px;
}

#content li {
  list-style:none;
}

#content ul {
  margin-top:10px;
  margin-bottom:10px;
}


#thankyou {
  margin:50px;
  margin-top:20px;
  padding:20px;
  float:right;
  border: 1px solid #eee;
}

#thankyou h1 {
  text-align:center;
  font-family:sans;
}

#thankyou img {
  width:150px;
}

#thankyou li {
  text-align:center;
  margin-top:10px;
  padding:0px;
  margin:10px;
}

#thankyou ul {
  margin:0px;
  padding:0px;
}

.coming-soon {
  text-align:center;
  font-size:42pt;
  font-weight:bold;
  color:gray;
  position:absolute;
  top:50%;
  left:20%;
  right:20%;
}

.logo-review.gray {
  color:gray;
}

.logo-it.gray {
  color:gray;
}