.header_nick {
  color:gray;
  font-weight:bold;
  font-size:12pt;
  display:inline;
  box-shadow:none;
  border:#2E3436;
  width:auto;
  background: rgba(0, 0, 0, 0);
  margin-left:3px;
  margin-right:3px;
}

.logo-it { 
  font-family: 'Henny Penny', cursive;
  color:white;
  margin-left:4px;
}

.logo-review { 
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  color:black;
}

#header {
  padding:10px;
  background-color:#2E3436;
  background-image:url('../images/header-back.png');
  background-repeat:repeat-x;
  /*background-repeat-y:no-repeat;*/
  background-attachment:initial;
  background-position-x:50%;
  background-clip:initial;
  
/*  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px; */
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color:white;
  
}

#header h1 {
  color:orange;
  padding:0px;
  margin:0px;
  font-size:20pt;
}

#header a {
  color:gray;
  text-decoration:none;
}

#header a:hover {
  color:white;
}

#content {
  margin-left:10px;
  margin-right:10px;
}

.header-control {
  float:right;
  margin:5px;
  margin-top:10px;
}

.header-links {
  margin-left:30px;
}

#header-links a {
  font-weight:bold;
  padding:3px;
  color:orange;
}

.big {
  font-size:12pt;
  font-weight:bold;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

input[type="radio"] {
  margin-right:5px;
  margin-top:0px;
}

label {
  margin:0px;
}

.icon {
  width:20px;
}

body {
  padding-top:60px;
}