.hilight {
  background-color:yellow;
}

div.comment_controls {
  margin-right:20px;
  float:right;
}

.comment_controls .icon {
  margin:5px;
}


td.collapse-handle {
  margin:0px;
  padding-left:0px;
  padding-right:0px;
  width:auto;
}

.content {
  margin-top:10px;
  border-top: 1px solid #eee;
}

div.code {
  width:50%;
  border:none;
}

.code td {
  border:none;
}

.maincomment {
  float:right;
}

.snippet_title {
  margin:10px;
}